.sitename {
  font-size: 32px;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
  color: #222;
  text-shadow: 2px 2px 0 #0d6efd;
}

.sitename::first-letter {
  color: #0d6efd;
  font-size: 42px;
  font-weight: 900;
}
